.app-container {
  margin-top: 8.125rem;
}
/* SIDEBAR STYLE STARTS */
.sidebar {
  position: fixed;
  top: 102px;
  left: 0;
  height: 150vh;
  width: 10%;
  margin-left: 0;
  background: #ddd;
  color: gray;
}

.sidebar-items {
  padding-left: 0.9375rem;
  line-height: 3.125rem;
  margin: 0.3125rem auto;
  box-sizing: border-box;
}

.sidebar-items a {
  padding-top: 3.125rem;
  text-decoration: none;
  text-align: center;
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-container {
  position: relative;
  padding-left: 1.5625rem;
  line-height: 1.875rem;
  margin: 0.3125rem auto;
  box-sizing: border-box;
  transition: all 1.5s;
  opacity: 1;
  animation-name: dropdown;
  animation-duration: 1.5s;
}

.d-item:hover {
  color: gray !important;
}

.menu-item {
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  color: #000;
}

.menu-item > div {
  color: #fff;
}

.menu-item:hover {
  color: gray;
}
/* SIDEBAR STYLES ENDS */

/* NAVBAR STYLES STARTS */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.navbar-div {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #fff;
}

ul {
  display: inline-flex;
  font-size: 1.4375rem;
}

a {
  text-decoration: none;
}

li {
  color: #000;
  list-style-type: none;
  padding: 0.9375rem;
}

li:hover {
  color: gray;
}
/* NAVBAR STYLESA ENDS */

/* API TABLE STARTS */

table {
  width: 100%;
  overflow-x: auto;
}
th {
  text-align: left;
}
table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
th,
td {
  padding: 0.625rem;
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #ddd;
}
/*  API TABLE ENDS */

.ld-sections {
  width: 70%;
  margin: auto;
}

.div-sec {
  width: 60%;
  margin: auto;
}

.table-div {
  overflow-x: auto;
}

.menu-bar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .div-sec {
    width: 90%;
  }
  .table-div {
    overflow-x: auto;
  }

  .ld-sections {
    width: 90%;
  }

  .ld-page {
    width: 90%;
  }

  .sidebar {
    width: 45%;
    top: 80px;
    margin-left: -50%;
    z-index: 200;
    height: 150vh;
    transition: 1s;
  }

  .navbar {
    height: 80px;
  }

  .nav-item {
    display: none;
  }

  .menu-bar {
    display: block;
  }
}
