/* SIDEBAR STYLE STARTS */

.sidebar {
  position: fixed;
  left: 0;
  top: 13%;
  height: 100vh;
  width: 12%;
  background: #ddd;
  color: gray;
  transition: all 0.5s;
  z-index: 100;
}

.sidebar-items {
  padding-left: 15px;
  line-height: 50px;
  align-items: center;
  margin: 40px auto;
  box-sizing: border-box;
}

.sidebar-items a {
  padding-top: 50px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.sidebar-items a:hover {
  cursor: pointer;
  color: gray;
}
/* SIDEBAR STYLES ENDS */

/* NAVBAR STYLES STARTS */
.navbar {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.navbar-div {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #fff;
}

ul {
  display: inline-flex;
  font-size: 23px;
}

a {
  text-decoration: none;
}

li {
  color: #000;
  list-style-type: none;
  padding: 15px;
}

li:hover {
  color: gray;
}
/* NAVBAR STYLESA ENDS */

/* API TABLE STARTS */

table {
  width: 100%;
}
th {
  text-align: left;
}
table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #ddd;
}
/*  API TABLE ENDS */
