@font-face {
  font-family: 'proxima nova';
  src: url('./assets/fonts/proxima-nova-regular.otf') format('opentype');
}

body {
  font-family: proxima nova;
  margin: 0;
  padding: 0;
}

.slide-container {
  width: 100%;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade img {
  width: 75%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
}

.indicator.active {
  color: #fff;
  background: #666;
}
